<div class="container">

  <h1>All Muscles</h1>

  <%= form_tag search_muscles_path, method: :get, role: "search" do %>
        <p>
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
          <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
        </p>
      <% end %>

  <br>
  <% if admin_signed_in? %>
    <h2>Import Muscles</h2>
  
    <%= form_tag import_muscles_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
  
    <%= link_to 'New Muscle', new_muscle_path %>
  <% end %>

<% if admin_signed_in? %>
  <%= link_to 'New muscle', new_muscle_path %>
<% end %>

  <% @muscles.each do |muscle| %>
    <h4><%= muscle.muscle_number %>
        <%= link_to muscle.name, muscle_path(muscle) %></h4>
<% if admin_signed_in? %>
<%= link_to 'Edit', edit_muscle_path(muscle) %>
<%= link_to 'Delete', muscle_path(muscle),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
<% end %>
<% end %>

</div>