<div class="container">

  <div class="page-header">
    <h1><%= @muscle.name %></h1>
  </div>
  
  <br>

   <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-8">
        <%= markdown(@muscle.quick_reference) %>
     </div>
    
     <div class="col-xs-6 col-md-4">
       <%= embed(@muscle.youtube_url) unless @muscle.youtube_url == nil %> 
     </div> 
  </div>

  <h3>Symptoms:</h3>
  <%= markdown(@muscle.symptoms) %>
  
  <h3>Common Diagnoses:</h3>
  <%= markdown(@muscle.common_diagnoses) %>
  
  <h3>Causes:</h3>
  <%= markdown(@muscle.activation)%>

  <h3>Lifestyle Considerations:</h3>
  <%= markdown(@muscle.lifestyle_considerations) %>

  <h3>Tests:</h3>
  <%= markdown(@muscle.test) %>

  <h3>Self-Care Treatment:</h3>
  <%= markdown(@muscle.self_care_treatment) %>

  <h3>Related Muscles:</h3>
  <%= markdown(@muscle.related_muscles) %>


  <%= link_to 'Back', muscles_path %>
<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_muscle_path %>
<% end %>

</div>
